			
			<tbody>
			
			<tr>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox" id="startingPoint"><div class="defaultPlacedSeed"> <br>  <label class="letter">*</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
					
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
			
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
			
			<tr>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
			<tr>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="doubleLetterBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="plainBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
			
				<td class="tripleWordBox"><div class="defaultPlacedSeed"> <label class="letter" style="color: rgba(0, 0, 0, 0);">?</label> <br> <label class="point" style="color: rgba(0, 0, 0, 0);">?</label> </div></td>
				
				</tr>
				
				</tbody>
			
			